<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smart_grade.admin.AdminMapper">
    <select id="selLecture">
        SELECT ilecture,D.lecture_name lectureNm,isemester,C.nm,B.lecture_room_name lectureRoomNm,B.building_name buildingNm,lecture_str_date strDate,lecture_end_date endDate,lecture_str_time strTime,lecture_end_time endTime
        ,lecture_max_people maxPeople,opening_procedures procedures,A.del_yn delYn
            from lecture_applly A
            INNER JOIN lecture_room B
            ON A.ilecture_room=B.ilecture_room
            INNER JOIN professor C
            ON A.iprofessor=C.iprofessor
            INNER JOIN lecture_name D
            ON A.ilecture_name=D.ilecture_name
        <where>
                A.opening_procedures=#{procedures}
            <if test="nm!=null">
               and C.nm in (#{nm})
            </if>

        </where>
        limit #{strIdx},#{row}


    </select>

    <select id="lectureInStudent">
        SELECT C.istudent,C.nm,D.major_name majorNm,A.attendance,A.midterm_examination minEx,A.final_examination finEx,A.total_score totalScore
        FROM lecture_student A
        INNER JOIN lecture_applly B
        ON B.ilecture=A.ilecture
        INNER JOIN student C
        ON C.istudent=A.istudent
        INNER JOIN major D
        ON D.imajor= C.imajor
        WHERE A.ilecture=#{ilecture}
    </select>

    <select id="countLceture">
        select count(*)
        from lecture_applly A
        inner join professor B
        on A.iprofessor=B.iprofessor
       <where>
               A.opening_procedures=#{procedures}

           <if test="nm!=null">
              and B.nm in (#{nm})
           </if>

       </where>
    </select>
    <insert id="lectureModify">
        insert into leture_condition
        set ilecture=#{ilecture}
        ,return_ctnt=#{ctnt}
    </insert>


    <update id="updLecture">
        update lecture_applly
        set opening_procedures = #{procedures}
        where ilecture=#{ilecture}
    </update>
</mapper>