<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smart_grade.admin.professor.AdminProfessorMapper">
    <insert id="insProfessor" useGeneratedKeys="true" keyProperty="iprofessor">
        insert into professor
        (imajor,professor_password,nm,gender,birthdate,phone,email,address)
        values
        (#{imajor},#{professorPassword},#{nm},#{gender},#{birthdate},#{phone},#{email},#{address})
    </insert>

    <select id="findProfessors">
        SELECT iprofessor,major_name majorName
        ,nm,gender,birthdate,phone,email
        ,address,A.del_yn delYn
        FROM professor A
        INNER JOIN major B
        ON A.imajor=B.imajor
        <if test="name!=null">
            where A.nm in (#{name})
        </if>
        ORDER BY A.imajor
        LIMIT #{staIdx},10
    </select>
    <select id="findProfessorDetail">
        SELECT A.lecture_str_date, A.lecture_end_date
        , A.lecture_str_time,
        A.lecture_end_time, B.lecture_name
        , C.nm, C.gender, C.birthdate,
        C.phone, C.address, C.email
        , D.major_name , C.created_at
        FROM lecture_applly A
        INNER JOIN lecture_name B
        ON A.ilecture_name = B.ilecture_name
        INNER JOIN professor C
        ON A.iprofessor = C.iprofessor
        INNER JOIN major D
        ON C.imajor = D.imajor
        WHERE C.iprofessor = {iprofessor}
    </select>

    <select id="countProfessor" >
        select count(*)
        from professor
    </select>



</mapper>