<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smart_grade.admin.student.AdminStudentMapper">
    <insert id="insStudent" useGeneratedKeys="true" keyProperty="istudent">
        insert into student
        (   student_num, student_password, imajor, nm, gender
        , birthdate, phone, email, address
        )
        VALUES
        ( concat(#{studentNum}, LPAD(#{majorCnt}, 4, 0)), #{studentPassword}, #{imajor}, #{nm}, #{gender}
        ,#{birthdate},#{phone},#{email},#{address}
        )
        <selectKey order="BEFORE" resultType="Long" keyProperty="majorCnt">
            select IFNULL(count(imajor),0) + 1 AS majorCnt
            from student
            where imajor = #{imajor}
        </selectKey>
    </insert>

    <select id="selStudent">
        select istudent,student_num studentNum,student_password studentPassword
        ,imajor,grade,nm,gender,pic,birthdate
        ,phone,email,address,finished_yn finishedYn,created_at createdAt,updated_at updatedAt,del_yn delYn
        from student
        where email=#{email}
    </select>

    <select id="findStudents">
        SELECT A.istudent,A.student_num studentNum
        ,A.grade,A.nm,c.major_name majoirName
        ,A.gender,A.birthdate,A.phone,DATE(A.created_at) createdAt
        ,A.finished_yn finishedYn,sum(case when B.finished_at IS NULL then 0 ELSE G.score END) score
        FROM student A
        left JOIN lecture_student B
        ON A.istudent=B.istudent
        inner JOIN major C
        ON A.imajor=C.imajor
        left JOIN lecture_applly D
        ON D.ilecture=B.ilecture
        left JOIN lecture_name G
        ON G.ilecture_name=D.ilecture_name
        GROUP BY A.istudent
        <if test="studentNum!=null">
            WHERE A.student_num=#{studentNum}
        </if>
        <if test="nm != null">
            where A.nm=#{nm}
        </if>
        limit #{staIdx},#{row}



    </select>

    <select id="countStudents">
        select count(*)
        from student
        <if test="studentNum!=null">
            WHERE student_num=#{studentNum}
        </if>
        <if test="nm != null">
            where nm=#{nm}
        </if>
    </select>

    <select id="studentDt">
        SELECT A.istudent,A.student_num studentNum,C.major_name majorName,A.grade,A.nm,GROUP_CONCAT(B.ilecture)ilecture,GROUP_CONCAT(D.lecture_name)lectureName,GROUP_CONCAT(B.attendance)attendance,GROUP_CONCAT(B.midterm_examination)midtermEx,GROUP_CONCAT(B.final_examination)finalEx,GROUP_CONCAT(B.total_score)totalScore
        FROM student A
        INNER JOIN (
        SELECT x.ilecture,x.ilecture_name,x.ilecture_room,y.istudent,y.attendance,y.midterm_examination,y.final_examination,y.total_score
        FROM lecture_applly x
        INNER JOIN lecture_student y
        ON x.ilecture=y.ilecture

        )B
        INNER JOIN major C
        ON A.imajor=C.imajor
        INNER JOIN lecture_name D
        ON D.ilecture_name=B.ilecture_name
        WHERE A.istudent=#{istudnet}
        GROUP BY A.istudent

    </select>

</mapper>