<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smartGrade.admin.board.BoardMapper">

    <insert id="insBoard" useGeneratedKeys="true" keyProperty="iboard">
        INSERT INTO board
        (iadmin, title, ctnt, importance)
        VALUES
        (#{iadmin},#{title}, #{ctnt}, #{importance})
    </insert>

    <insert id="insBoardPic">
        INSERT INTO board_pics
        (iboard, pic)
        VALUES
        <foreach collection="list" item="item" open="(" separator="), (" close=")">
            #{item.iboard}, #{item.pic}
        </foreach>
    </insert>

    <update id="updBoard">
        UPDATE board
        SET ctnt = #{ctnt},
        title = #{title},
        importance = #{importance},
        updated_at = current_timestamp
        WHERE iboard = #{iboard}
    </update>

    <select id="selBoard">
        SELECT iboard, iadmin, title,importance, created_at createdAt, del_yn delYn, board_view boardView
        FROM board
        WHERE importance = 0 AND del_yn = 0
        ORDER BY createdAt DESC
        LIMIT #{staIdx}, #{row}
    </select>

    <select id="selBoardImportance">
        SELECT iboard, iadmin, title, importance, created_at createdAt, del_yn delYn, board_view boardView
        FROM board
        WHERE importance = 1 AND del_yn = 0
        ORDER BY createdAt DESC
        LIMIT 3
    </select>


    <select id="selByIdBoard">
        SELECT iboard, iadmin, title, ctnt, importance, created_at createdAt, del_yn delYn
        FROM board
        WHERE iboard = #{iboard} AND del_yn = 0
    </select>

<!--    <select id="countBoard">-->
<!--        SELECT COUNT(*)-->
<!--        FROM board-->
<!--    </select>-->

    <update id="updDelYnBoard">
        UPDATE board
        SET del_yn = 1
        WHERE iboard = #{iboard}
    </update>

    <update id="updViewBoard">
        UPDATE board
        SET board_view = board_view + 1
        WHERE iboard = #{iboard}
    </update>

    <select id="selSearchBoard">
       SELECT iboard, iadmin, title,importance, created_at createdAt, del_yn delYn, board_view boardView
       FROM board
       <where>
           <if test="title != null">
               title LIKE CONCAT('%', #{title}, '%') AND del_yn = 0
           </if>
       </where>
       ORDER BY createdAt DESC
       LIMIT #{staIdx}, #{row}
    </select>

    <select id="countSearchBoard">
        SELECT COUNT(*)
        FROM board
        <where>
            <if test="title != null">
                title LIKE CONCAT('%', #{title}, '%') AND del_yn = 0
            </if>
            importance = 0
        </where>
    </select>

</mapper>