<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smart_grade.admin.board.BoardMapper">

    <insert id="insBoard" useGeneratedKeys="true" keyProperty="iboard">
        INSERT INTO board
        (iadmin, title, ctnt, importance)
        VALUES
        (#{iadmin},#{title}, #{ctnt}, #{importance})
    </insert>

    <update id="updBoard">
        UPDATE board
        SET ctnt = #{ctnt},
        title = #{title},
        importance = #{importance},
        updated_at = current_timestamp
        WHERE iboard = #{iboard}
    </update>

    <select id="selBoard">
        SELECT iboard, iadmin, title,importance, created_at createdAt
        FROM board
        WHERE importance = 0
        ORDER BY createdAt DESC
        LIMIT #{startIdx}, #{row}
    </select>

    <select id="selBoardImportance">
        SELECT iboard, iadmin, title, importance, created_at createdAt
        FROM board
        WHERE importance = 1
        ORDER BY createdAt DESC
        LIMIT 3
    </select>


    <select id="selByIdBoard">
        SELECT iboard, iadmin, title, ctnt, importance, created_at createdAt
        FROM board
        WHERE iboard = #{iboard}
    </select>

    <select id="countBoard">
        SELECT COUNT(*)
        FROM board
    </select>

    <update id="updDelYnBoard">
        UPDATE board
        SET del_yn = 1
        WHERE iboard = #{iboard}
    </update>

</mapper>