<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smart_grade.admin.grade_mngmn.GradeMngmnMapper">

    <select id="selGradeFindStudent">
        SELECT B.istudent, B.ilecture
        , A.imajor, A.student_num studentNum,
        A.nm name, A.gender, A.birthdate, C.score, C.rating
        FROM student A
        INNER JOIN lecture_student B
        ON A.istudent = B.istudent
        INNER JOIN student_semester_score C
        ON B.istudent = C.istudent
        WHERE A.istudent = #{istudent}
        <if test="studentNum != null">
            AND A.student_num = #{studentNum}
        </if>
        <if test="name != null">
            AND A.nm = #{name}
        </if>
        LIMIT #{strIdx}, 7
    </select>

    <select id="selGradeFindStudentDetail">
        SELECT A.pic pic, A.nm name, A.gender
        , A.birthdate, A.phone
        , A.student_num, B.major_name majorName
        , A.created_at createdAt, A.email, C.score scoreStudent, rating
        FROM student A
        INNER JOIN major B
        ON A.imajor = B.imajor
        INNER JOIN student_semester_score C
        ON A.istudent = C.istudent
        WHERE A.istudent = #{istudent}
        AND A.student_num = #{studentNum}
        AND A.nm = #{name}
    </select>

    <select id="countGradeFindStudent">
        SELECT count(*)
        from student
    </select>
</mapper>