<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smartGrade.lecture_applly.LectureAppllyMapper">
    <insert id="InsApplly">
        insert into lecture_applly
        (ilecture_name  ,ilecture_room ,iprofessor,isemester,opening_procedures,
        lecture_str_date,lecture_end_date,lecture_str_time,lecture_end_time,attendance,
        midterm_examination,final_examination,lecture_max_people,grade_limit,del_yn)
        values
        (#{ilectureName},#{ilectureRoom},#{iprofessor},#{isemester},#{openingProcedures},
        #{lectureStrDate},#{lectureEndDate},#{lectureStrTime},#{lectureEndTime},
        #{attendance},#{midtermExamination},#{finalExamination},#{lectureMaxPeople}
        ,#{garedLimit},#{delYn})
    </insert>

    <select id="selLectureApplly">
        select ilecture,ilecture_name ilectureName,ilecture_room ilectureRoom,iprofessor,isemester
        ,lecture_str_date lectureStrDate,lecture_end_date lectureEndDate,lecture_str_time lectureStrTime
        ,lecture_end_time lectureEndTime
        ,lecture_max_people lectureMaxPeople,grade_limit gradeLimit,del_yn delYn,opening_procedures openingProcedures
        from lecture_applly
        where iprofessor = #{iprofessor}
        order by iprofessor desc
        LIMIT #{startIdx}, #{row}
    </select>

    <select id="selAplly">
        select count(*)
        from lecture_applly
        where iprofessor = #{iprofessor}
    </select>


</mapper>