<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smart_grade.admin.major.AdminMajorMapper">
    <insert id="insMajor" useGeneratedKeys="true" keyProperty="imajor">
        INSERT INTO major
        (major_name, graduation_score)
        VALUES
        (#{majorName}, #{graduationScore})
    </insert>

    <select id="selMajor">
        SELECT imajor, major_name majorName
        , graduation_score graduationScore
        from major
    </select>

    <select id="selMajorDetail">
        SELECT imajor, major_name majorName
        , graduation_score graduationScore
        from major
        WHERE major_name = #{majorName}
        AND imajor = #{imajor}
    </select>
    <update id="delMajor">
        UPDATE major
        SET del_yn = 1
        WHERE imajor = #{imajor}
        AND major_name = #{majorName}
    </update>
</mapper>