<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smartGrade.student.StudentMapper">
    <insert id="insSdy" useGeneratedKeys="true" keyProperty="ilectureStudent">
        INSERT INTO lecture_student (istudent, ilecture, finished_yn)
        SELECT s.istudent, la.ilecture, 0 as finishedYn
        FROM student s, lecture_applly la
        WHERE s.istudent = #{istudent}
        AND la.ilecture = #{ilecture}
    </insert>

    <select id="selDayWeek">
        select day_week dayWeek
        from lecture_day_week
        where ilecture = #{ilecture}
    </select>


    <select id="selAllSdy">
        SELECT A.istudent ,D.student_num studentNum,D.grade,B.ilecture_name ilectureName,C.lecture_name
        lectureName,B.iprofessor
        ,C.score,A.attendance,A.midterm_examination midtermExamination
        ,A.final_examination finalExamination,A.total_score totalScore,A.finished_yn finishedYn
        FROM lecture_student A
        INNER JOIN lecture_applly B
        ON A.ilecture = B.ilecture
        INNER JOIN lecture_name C
        ON B.ilecture_name = C.ilecture_name
        INNER JOIN student D
        ON A.istudent = D.istudent
        WHERE A.istudent = #{istudent} and A.finished_yn = 1
    </select>

    <select id="StudentCount">
        SELECT COUNT(*)
        FROM student
        WHERE student_num = #{studentNum}
    </select>

    <select id="selStudentProfile">
        SELECT A.istudent,D.student_num studentNum
        ,D.imajor,D.grade,D.nm,
        D.gender,D.pic,D.birthdate,D.phone,D.email,D.address,D.finished_yn finishedYn,sum(C.score) score
        ,D.created_at createdAt
        FROM lecture_student A
        INNER JOIN lecture_applly B
        ON A.ilecture = B.ilecture
        INNER JOIN lecture_name C
        ON B.ilecture_name = C.ilecture_name
        INNER JOIN student D
        ON A.istudent = D.istudent
        WHERE D.istudent = #{istudent} AND D.finished_yn = 1
    </select>

    <select id="selStudentMajor">
        SELECT A.ilecture_student ilectureStudent, A.istudent,A.ilecture
        ,D.ilecture_name ilectureName,A.finished_yn finishedYn,B.day_week dayWeek,C.opening_procedures openingProcedures
        ,C.lecture_str_date lectureStrDate ,C.lecture_end_date lectureEndDate
        ,C.lecture_str_time lectureStrTime,C.lecture_end_time lectureEndTime,C.attendance,C.midterm_examination
        midtermExamination
        ,C.final_examination finalExamination,D.score
        from lecture_student A
        INNER JOIN lecture_day_week B
        ON A.ilecture = B.ilecture
        INNER JOIN lecture_applly C
        ON B.ilecture = C.ilecture
        INNER JOIN lecture_name D
        ON C.ilecture_name = D.ilecture_name
        WHERE C.opening_procedures = 3 AND A.finished_yn = 0
    </select>


    <select id="selStudentRemainingPoint">
        SELECT A.istudent,D.student_num studentNum
        ,D.imajor,D.grade,D.nm,
        D.gender,D.finished_yn finishedYn,sum(C.score) score,E.graduation_score graduationScore,
        E.graduation_score-sum(C.score) remainingPoints
        FROM lecture_student A
        INNER JOIN lecture_applly B
        ON A.ilecture = B.ilecture
        INNER JOIN lecture_name C
        ON B.ilecture_name = C.ilecture_name
        INNER JOIN student D
        ON A.istudent = D.istudent
        INNER JOIN major E
        ON D.imajor = E.imajor
        WHERE A.istudent = #{istudent} AND A.finished_yn = 1
        LIMIT #{startIdx}, #{row}
    </select>


    <update id="upStudent">
        update student
        <set>
            <if test="pic != null">
                pic = #{pic},
                phone = #{phone},
                email = #{email},
                address = #{address},
                updated_at = current_timestamp
            </if>
            <if test="pic==null">
                phone = #{phone}
                , email = #{email}
                , address = #{address}
                , updated_at = current_timestamp
            </if>
        </set>
        where istudent = #{istudent}
    </update>

    <update id="updPassword">
        UPDATE student
        SET student_password = #{studentPassword}
        WHERE istudent = #{istudent} AND role = #{role}
    </update>

    <select id="selPasswordCurrent">
        SELECT istudent, role, student_num id,
        student_password currentStudentPassword
        FROM student
        WHERE istudent = #{istudent} AND role = #{role}
    </select>

    <select id="picFilePathByStudent">
        SELECT pic
        FROM student
        WHERE istudent = #{istudent}
    </select>

    <update id="updateFilePathNullByStudent">
        UPDATE student
        SET pic = NULL
        WHERE istudent = #{istudent}
    </update>

    <select id="getStudentById">
        SELECT *
        FROM student
        WHERE istudent = #{istudent}
    </select>

</mapper>