<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.smartGrade.security.config.security.UserDetailsMapper">

    <select id="getByUid">

        <if test='role.equalsIgnoreCase("ROLE_ADMIN")'>
            SELECT iadmin iuser, admin_Id uid, admin_password upw, role
            FROM admin
            WHERE admin_Id = #{uid} AND role = "ROLE_ADMIN"
        </if>

        <if test='role.equalsIgnoreCase("ROLE_PROFESSOR")'>
            SELECT iprofessor iuser, iprofessor uid, professor_password upw, role
            FROM professor
            WHERE iprofessor = #{uid}
        </if>

        <if test='role.equalsIgnoreCase("ROLE_STUDENT")'>
            SELECT istudent iuser, student_num uid, student_password upw, role
            FROM student
            WHERE student_num = #{uid}
        </if>

    </select>

    <!-- ///////////////////////////////////////// user_token /////////-->
    <insert id="updUserToken">
        INSERT INTO user_token
        (role, iuser, ip)
        VALUES
        (#{role}, #{iuser}, #{ip})

        ON DUPLICATE KEY UPDATE
        role = #{role}
        , iuser = #{iuser}
    </insert>

    <select id="selUserToken">
        SELECT iuser, role, ip, access_token accessToken,
        refresh_token refreshToken, created_at createdAt,
        updated_at updatedAt
        FROM user_token
        WHERE iuser = #{iuser} AND role = #{role}
    </select>

</mapper>